---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import RootLayout from "./RootLayout.astro";
import Pill from "../components/Pill.astro";

type Props = CollectionEntry<"blog">["data"] & {
  readingTime: string;
};

const { title, description, pubDate, updatedDate, readingTime } = Astro.props;
---

<RootLayout title={title} description={description}>
  <article class="mb-20 mt-10">
    <div class="mb-10 border-b border-black pb-4">
      <h1 class="text-3xl font-bold sm:text-4xl md:text-5xl">
        {title}
      </h1>
      <div
        class="mt-4 flex flex-wrap items-center justify-between gap-x-2 gap-y-2 text-zinc-500"
      >
        <Pill><FormattedDate date={pubDate} /></Pill>
        <Pill>{readingTime}</Pill>
        {
          updatedDate && (
            <div class="w-full">
              <Pill>
                Last updated <FormattedDate date={updatedDate} />
              </Pill>
            </div>
          )
        }
      </div>
    </div>
    <div class="prose prose-zinc max-w-3xl">
      <slot />
    </div>
  </article>
</RootLayout>
